.sticky {
  color: #ff00ff;
  position: fixed;
  top: 30%;
  right: 0;
  width: fit-content;
  background-color: #052656;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
}
