.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: #ff00ff;
  background-color: #052656;
  text-align: center;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}

/* #ff00ff #052656 */
