.login {
  font-weight: bold;
  margin: auto;
  width: 45rem;
  text-align: center;
  padding: 1rem;
  margin-top: 8rem;
  color: #fb7b63;
  background-color: #6858ce;
  border-radius: 10px;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
}

.login h2 {
  margin: 8px 0;
}

